{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}

    <main>
        <section class="container">
            <h2>DÉCOUVREZ LES DERNIÈRES ANNONCES</h2>
            <div class="row">
                <div class="col-sm">
                One of three columns
                </div>
                <div class="col-sm">
                One of three columns
                </div>
                <div class="col-sm">
                One of three columns
                </div>
            </div>
        </section>
    </main>

{% endblock %}
